
<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Signup Page</h1>
    <p>{{ msg }}</p>
    <form action="/signup" method = "POST">
        <p>firstname <input type = "text" name = "firstname" /></p>
        <p>lastname <input type = "text" name = "lastname" /></p>
        <p>username <input type = "text" name = "username" /></p>
        <p>email <input type = "text" name = "email" /></p>
        <p>password <input type = "integer" name = "password" /></p>
        <p><input type = "submit" value = "Submit" /></p>
     </form>
    
 </body>
 </html>